/*Aqui agruegue las clases que no se importaron con el link de bootstrap*/
.cover-container {
    max-width: 42em;
    background-color: rgb(206, 156, 48);
}

.bg-image {
    background-image: url("images/pexels-photo-2182863.jpeg");
    background-size: contain;
    background-position: center;

}