@import url(../TestConexion/Bootstrap/css/bootstrap-utilities.css);

.bg-image {
    background-image: url("images/pexels-photo-6432056.jpeg");
    background-size:cover;
    background-position: center;

}


.primary{
    background-color: #3660A8 !important;
}
.secondary{
    background-color: #1D2333 !important;
}
.important{
    background-color: #27C9DB !important;
}
.warning{
    background-color: #E09272 !important;
}
.danger{
    background-color: #A8220D !important;
}