/*Aqui agruegue las clases que no se importaron con el link de bootstrap*/
.cover-container {
    max-width: 42em;
    background-color: rgb(206, 156, 48);
}

.bg-image {
    background-image: url("images/pexels-photo-2182863.jpeg");
    background-size: contain;
    background-position: center;

}

.pregresp {
    border: 1px solid #7DA5E0;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    }
    
    .pregunta {
    color: #7DA5E0;
    }
    
    .respuestas {
    color: #000000;
    }